
*.egg-info/
.installed.cfg
.vscode
__pycache__/
.DS_STORE
.nfs*
time-maps/timestep0.png
time-maps/timestep1.png
time-maps/timestep2.png
time-maps/timestep3.png
time-maps/timestep4.png
time-maps/timestep5.png
time-maps/timestep6.png
time-maps/timestep7.png
time-maps/timestep8.png
time-maps/timestep9.png
time-maps/timestep10.png
time-maps/timestep11.png
time-maps/timestep12.png
time-maps/timestep13.png
time-maps/timestep14.png
time-maps/timestep15.png
time-maps/timestep16.png
time-maps/timestep17.png
time-maps/timestep18.png
time-maps/timestep19.png
time-maps/timestep20.png
time-maps/timestep21.png
time-maps/timestep22.png
time-maps/timestep23.png
time-maps/timestep24.png
time-maps/timestep25.png
time-maps/timestep26.png
time-maps/timestep27.png
time-maps/timestep28.png
time-maps/timestep29.png
time-maps/timestep30.png
time-maps/timestep31.png
time-maps/timestep32.png
time-maps/timestep33.png
time-maps/timestep34.png
time-maps/timestep35.png
time-maps/timestep36.png
time-maps/timestep37.png
time-maps/timestep38.png
time-maps/timestep39.png
time-maps/timestep40.png
time-maps/timestep41.png
time-maps/timestep42.png
time-maps/timestep43.png
time-maps/timestep44.png
time-maps/timestep45.png
time-maps/timestep46.png
time-maps/timestep47.png
time-maps/timestep48.png
time-maps/timestep49.png
test.py
